*{
    margin:0;padding:0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.clearfix::after{
    content: "";
    display:block;
    visibility: hidden;
    height:0;
    font-size: 0;
    clear:both;
   
}
.clearfix{
    *zoom:1;
}
