.guanggao1 img{
    width:1226px;
    height:120px;
    margin-top:25px;
}
.guanggao2 img{
    width:1226px;
    height:120px;
    margin-top:25px;
}
.guanggao3 img{
    width:1226px;
    height:120px;
    margin-top:11px;
}
.guanggao4 img{
    width:1226px;
    height:120px;
    margin-top:25px;
}
.guanggao5 img{
    width:1226px;
    height:120px;
    margin-top:25px;
}
.guanggao6 img{
    width:1226px;
    height:120px;
    margin-top:25px;
}
.guanggao7 img{
    width:1226px;
    height:120px;
    margin-top:25px;
}